.InputText{
    width: 254px;
    height: 20px;
    border-radius: 5px;
    background-color: #131415;
    border: #2F3035 1px solid;
    padding: 0 16px;
  }
  
  .InputText:focus{
    outline: none 
  }


 
