.pages{
  width: 840px;
  margin: auto;
  text-align: center;
  margin-top: 100px;
}

.pressure{
  display: flex;
  width: 600px;
  margin: auto;
}

.pages > h1{
  font-weight: 700;
  line-height: 48px;
  font-size: 40px;
  width: 840px;
  margin: auto;
}

.charts{
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
}

.charts > div{
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}