.NowTempetarure{
    width: 274px;
    display: flex;
    align-items: center;
    background-color: #131415 ;
    margin: auto;
    height: 162px;
    justify-content: center;
    border-radius: 8px;
  }
  
  .NowTempetarure .name{
    font-size: 20px;
    font-weight: 700;
  }
  
  .NowTempetarure .value{
    font-size: 40px;
    font-weight: 400;
    margin-top: 7px;
  }
  
  .NowTempetarure .units{
    font-size: 16px;
    font-weight: 400;
  }
  
  .NowTempetarureMin{
    width: 274px;
    height: 76px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    background-color: #131415;
    margin: auto;
    justify-content: center;
  }
  
  .NowTempetarureMin .name{
    font-size: 20px;
    font-weight: 700;
  }
  
  .NowTempetarureMin .value{
    font-size: 22px;
    font-weight: 400;
  }
  
  .NowTempetarureMin .units{
    font-size: 16px;
    font-weight: 400;
    margin: 5px 0 0 7px;
  }
  
  .NowTempetarureMin > div{
    display: flex;
    width: 80%;
    margin: auto;
    justify-content: space-between;
  }
  
  .NowTempetarureMin .nowValue{
    display: flex;
  } 